[submodule "app/mobile"]
	path = app/mobile
	url = https://github.com/wypx/mobile
[submodule "thirdparty/numactl"]
	path = thirdparty/numactl
	url = https://github.com/numactl/numactl.git
[submodule "thirdparty/dpdk"]
	path = thirdparty/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "thirdparty/spdk"]
	path = thirdparty/spdk
	url = https://github.com/spdk/spdk.git
[submodule "thirdparty/mongo-cxx-driver"]
	path = thirdparty/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
[submodule "thirdparty/mongo-c-driver"]
	path = thirdparty/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver
[submodule "thirdparty/libaio"]
	path = thirdparty/libaio
	url = https://github.com/leitao/libaio.git
[submodule "thirdparty/baidu/incubator-brpc"]
	path = thirdparty/baidu/incubator-brpc
	url = https://github.com/wypx/incubator-brpc.git
[submodule "thirdparty/baidu/braft"]
	path = thirdparty/baidu/braft
	url = https://github.com/baidu/braft.git
[submodule "thirdparty/tcpdump"]
	path = thirdparty/tcpdump
	url = https://github.com/the-tcpdump-group/tcpdump.git
[submodule "thirdparty/libpcap"]
	path = thirdparty/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "thirdparty/iperf"]
	path = thirdparty/iperf
	url = https://github.com/esnet/iperf.git
[submodule "thirdparty/libvma"]
	path = thirdparty/libvma
	url = https://github.com/Mellanox/libvma.git
[submodule "thirdparty/qemu"]
	path = thirdparty/qemu
	url = https://github.com/qemu/qemu.git
[submodule "thirdparty/vpp"]
	path = thirdparty/vpp
	url = https://github.com/FDio/vpp.git
[submodule "thirdparty/seastar"]
	path = thirdparty/seastar
	url = https://github.com/scylladb/seastar.git
[submodule "thirdparty/watchdog"]
	path = thirdparty/watchdog
	url = https://github.com/ivanvanderbyl/watchdog
[submodule "thirdparty/util-linux"]
	path = thirdparty/util-linux
	url = https://github.com/karelzak/util-linux.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/tcprstat"]
	path = thirdparty/tcprstat
	url = https://github.com/y123456yz/tcprstat.git
